<div class="container">
    <form method="POST" action="/pregUnlam/src/login/login" class="w3-card w3-padding w3-light-grey w3-display-inline-block" style="min-width:300px">
        {{#error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {{/error}}
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" name="usuario" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu mail con nadie.</div>
        </div>
        <div class="mb-3">
            <label for="contrasenia" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" name="password" id="contrasenia">
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
       href="/pregUnlam/src/login/registrar">¿No tenes cuenta? Registrate</a>
</div>